html {
    padding: 0;
    margin: 0;
    body {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        main {
            flex: 1;
        }
        header, main, footer {
            padding: 15px;
        }
        header, footer {
            background: #17191e;
            color: #ffffff;
        }
        section {
            margin: 0 0 15px;
        }
        div.code {
            padding: 10px;
            background: #eee;
            margin: 10px 0;
        }
        a {
            color: #f8d95e;
        }
        a:hover {
            color: #fbe9a0;
        }
    }
}



